.hero{
    background-color: #cbeffac7;
  }
  .section3{
    background-color: #fff9e5;
  }
  .pageStyle{
    background-color: #faf4f4;
  }
  .card{
   width: 23rem;
  }
  .icon{
   color: #0f0f0f;
  }